@using IoC
@using Entities
<script src="~/Scripts/Scripts/masonry.pkgd.min.js"></script>
<div class="tm-main-content tm-gallery-container">
    <div class="grid mb-5">
        @{
            //List<Thumbnail> photos = DependencyResolver.PLogic.GetThumbnails();
            List<Photo> photos = DependencyResolver.PLogic.GetPhotos();
            for (int i = 0; i < photos.Count; i++)
            {
                <div class="grid-item">
                    <div>
                        <a href="~/Pages/GetPhoto.cshtml?num=@i" class=""><img src="~/Pages/GetThumb?num=@i" alt="@photos[i].Name" /></a>
                    </div>
                    <div>
                        <button class="btn btn-info mb-0" id="@User.Identity.Name " name="@photos[i].Id">Buy</button>
                        <p class="mb-0">Prise: @photos[i].Prise$</p>
                        <p class="mt-0">Rating: @photos[i].Rating</p>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script>
    $(document).ready(function () {
        //pause(3000);
        //var $grid = $('.grid').imagesLoaded(function () {
        //    $grid.masonry({
        //        isFitWidth: true,
        //        // options...
        //    });
        //});
        var $grid = $('.grid').masonry({
            isFitWidth: true,
            isResizable: true,
            itemSelector: '.grid-item',
            columnWidth: 150,
            animationOptions: {
                duration: 400
            },
        });
        $grid.imagesLoaded().progress(function () {
            $grid.masonry('layout');
        });
        $('.tm-current-year').text(new Date().getFullYear());
    });

</script>
<script>
    $('.btn').on('click', function () {
        var userName = this.id;
        var photoId = this.name;
        $.ajax({
            url: '/Pages/BuyPhoto',
            data: { photoId: photoId, userName: userName },
            type: 'post'
        })
            .done(function (data) {
                alert(`${data}`);
            });
    })
</script>


